{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% for user_tweet, tag_tweet in zip(user_tweets, tag_tweets) %}
        <div class="row g-2">
            <div class="col-6 p-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-1">
                                <img src="{{ user_tweet['profile_image'] }}" height="45" width="45" class="rounded-circle">
                            </div>
                            <div class="col-5">
                                <strong>{{ user_tweet['name'] }}</strong> <br>
                                @{{ user_tweet['handle'] }}
                            </div>
                            <div class="col-6 text-end">    
                                <span class="tweetTime">{{ user_tweet['created_at'] }}</span>
                            </div>
                            <div class="card-body">   
                                <p>{{ user_tweet['text'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 p-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-1">
                                <img src="{{ tag_tweet['profile_image'] }}" height="45" width="45" class="rounded-circle">
                            </div>
                            <div class="col-5">
                                <strong>{{ tag_tweet['name'] }}</strong> <br>
                                @{{ tag_tweet['handle'] }}
                            </div>
                            <div class="col-6 text-end">    
                                <span class="tweetTime">{{ tag_tweet['created_at'] }}</span>
                            </div>
                            <div class="card-body">   
                                <p>{{ tag_tweet['text'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        {% endfor %}
    </div>
{% endblock  %}